*{
    box-sizing: border-box;
}
#nombre{
    color: #F2F2F2;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 65px;
    background-color: #3b64dfb6;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
span{
    font-weight: bold;
}
.cara{
    border-radius: 500px;
    height: 200px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #eeeeee;
    color: white;
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}
.caja-cara{
    background-color: #3b64dfb6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #3b64dfb6;
    color: #303030;
    padding: 10px;
}
.caja-info{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    height: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.dos{
    background-color: #303030;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    padding-left: 20%;
    padding-right: 20%;
}
.aptitudes{
    width: 50%;
}
.tech-list{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech{
    height: 90px;
}

.tres{
    background-color: #F2F2F2;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #303030;
}
.cuatro{
    background-color: #F2F2F2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #303030;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center<
}
.items{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.card{
    text-align: center;
    width: 30%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}
.cardos{
    text-align: center;
    width: 25%;
    border: solid #F2F2F2 1px;
    border-radius: 10px;
    padding: 10px;
}
.card img{
    width: 100%;
}
.cardos img{
    width: 50%;
}
.card a, footer a {
    color: white;
}
.red-social{
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
footer{
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #F2F2F2;
    height: 200px;
}
.contacto{
    width: 30%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .caja-central{
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
    .caja-cara{
        width: 100%;
        height: 50%;
    }
    .caja-presentacion{
        width: 100%;
        height: 50%;
        align-items: flex-start;
    }
    .aptitudes{
        width: auto;
    }
    .dos{
        height: auto;
        padding: 0 10px 10px 10px;

    }
    .tres{
        height: auto;
    }
    .items{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .card{
        width: 80%;
        margin-top: 20px;
    }
    .red-social{
        margin: 0 10px 0 10px;
    }
}